bin/
obj/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msi
*.nupkg
*.snupkg
*.vsix

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

packages/
*.nupkg
project.lock.json
project.assets.json

*.log
*.tmp
*.cache
*.diff
*.csproj.user

Thumbs.db
Desktop.ini
.DS_Store

TestResults/
PublishProfiles/
node_modules/
